*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
html{
    width: 100%;
    height: 100%;
   
} 
    /* ENCABEZADO */    

header{
    background-color: #EAC926;
    width: 100vw;
    padding: 0vw;
    margin: 0vw;
    size: 100%;
}
.logo-busqueda{
    width: 100%;
    display: flex
    
    
}
.logo-img{
    width: 180px;
    margin-top: 5%;

}

input{
    width: 55%;
    margin-left: 5%;
    margin-top: 15%;
    border: none;
    color: white;
    
    
}
.fa-magnifying-glass{
    
    color: #1259c3;
    width: 21px;
    height: 20px;
    padding: 4px;
    top: 10px;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: #ebebeb;
    border-radius: 2px;
    border-color: #666;
    border-style: double;
    border-width: 1px;
}
.section1{
    margin-top: 3%;
}
.section1b{
    text-align: center;
}
.cajaheader{
    width: 90%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-size: auto;
    
    }
ul.section2{
    
    width: 50%;
   display: flex;
   margin: 0;
    padding: 0;
    text-align: center;
    line-height: 3vw;
    
    
    
}
ul.section3{
    
    width: 50%;
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 3vw;
}


.burguer-menu{
text-align: center;
padding: 5px;
}

/* BODY */

body{
    font-size: 12px;
    width: 100vw;
    height: 30vh;
    padding: 0%;
    margin: 0% 0%;
    background-color: #ebebeb;
    

    }
    
    
    div img{
        width: 100vw;
        padding: 0%;
        margin: 0%;
        
        
    }
    a{
        text-decoration: none;
        color: black
    }
    ul{
        list-style: none;
        
    }
    
     /* MAIN */
    main{
        font-size: auto;
        width: 90%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-align: center;
        
        
    }
    /* ESTE OBJETO MODIFICA EL DISPLAY, los demas no.*/
    section.contenedor, section.contenedor2{
         width: 100%;
        margin-left: 5%; 
         display: flex;
         justify-content: space-around;
         flex-wrap: wrap;
    }
    /* PUEDE MODIFICAR LOS ARTICLES EN ESPECIFICO*/
    .contenedor article, .contenedor2 article{
        
        width: 50%;
        margin-bottom: 3%;
        padding: 0%;
        background-color: white;
        border-radius: 5px;
        
        }
    .contenedor .img, .contenedor2 .img{
        width: 100% ;
        text-align: center;
        border-radius: 5px;
        
        }
        .img{
            width: 100%;
            padding-bottom: 3px;
            background-color: #ebebeb;
        }
        .hover:hover{
            background-color: #ebebeb;
            
            scale: 1.2;
        }
      
    
    .fa-truck{
        
        color:#39b54a;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: relative;
        right: 20px;
        top: -17px;
        left: 35%;
        animation: none;

    }
    article:hover .fa-truck{
        animation: rotar 2.2s infinite alternate;


    }
    @keyframes rotar{
        0%{
            transform: none;
        }
        100%{
            transform: rotate(-90deg);
        }
    }
    /* titulares*/
    main h3{
        font-size: 24px;
        color: #666;
        text-align: center;
        margin: 7% 0% 8% 6%;
        
    }
    /* descripcion producto*/
    article, .descripcion{
        text-align: center;
         width: 100%;
         font-size: 14px;
         margin-bottom: 10px;
         color:#666;
    }
    /* precios*/
    article .h4{
        font-size: 16px;
        width: 15%;
        color: black;
        
        margin-left: 4%;
        
        }
    article .descuento{
        color: #39b54a;
        font-size: 16px;
        width: 45%;
        text-align: center;
        
        }
        article div{
            width: 100%;
            display: flex;
            justify-content: space-between;
            
        }
 
    .alineacion{
        
        justify-content: space-between;
    }
    
    /* FOOTER */
    footer{
        
        background-color: #ebebeb;
        width: 100vw;
        height: 100vh;
        margin: 0%;
        padding: 0%;
        
    }
    .ali-footer{
        display: flex;
    }
    .fa-bars{
        padding :10px;
    margin: auto;
    color: white;
    background-color: #1259c3;
    border-radius: 5px;
    }
        
    #card{
        color: #1259c3;
        font-size: 2em;
        margin-bottom: 10px;
    }
    #gift{
        color: #1259c3;
        font-size: 2em;
        margin-bottom: 10px;
    }
    #seguridad{
        color: #1259c3;
        font-size: 2em;
        margin-bottom: 10px;
    }
    /* incluye texto sin titulo*/
    .tarjeta{
        width: 30%;
        height: 90%;
        font-size: 12px;
        text-align: center;
        line-height: 22px;
        margin: 5%;
    }
    .envio{
        width: 30%;
        height: 90%;
        font-size: 12px;
        text-align: center;
        line-height: 22px;
        margin: 5%;
    }
    .seguridad{
        width: 30%;
        height: 90%;
        font-size: 12px;
        text-align: center;
        line-height: 22px;
        margin: 5%;
    }
    .copyright{
        text-align: center;
        line-height: 22px;
    }
    @media (min-width: 320px) {
        
          ul.section3{
             display: none;
          }
          ul.section2{
            display: none;
          }
          .contenedor article, .contenedor2 article{
            width: 45%;
            
          }
          .section1{
            display: none;
            
          }

        }
    @media (min-width: 520px){
        ul.section3{
            display: none;
         }
         ul.section2{
           display: none;
         }
         .contenedor article, .contenedor2 article{
           width: 30%;
           
         }
         .section1{
            width: 100%;
           display: flex;
         }
         .section1b{
            display: none;
         }
         section article{
            box-shadow: 0px 0px 10px rgb(100, 100, 100);
        }
        .hover:hover{
            background-color: #ebebeb;
        }

    }
    @media (min-width: 768px) {
           .burguer-menu{
            display: none;
           }
           ul.section3{
            display: flex;
            margin-left: 15%;
            justify-content: space-between;
            text-align:left
           }
           ul.section2{
            display: flex;
            margin-right: 15%;
            justify-content: space-between;
            text-align: right;
           }
           .contenedor article, .contenedor2 article{
            width: 22%;
            
          }
          .section1{
            align-items: right;
            width: 100%;
            padding: 1% 5% 3% 30% ;
            display: flex;

          }
          .section1b{
            display: none;
          }
          section article{
            box-shadow: 0px 0px 10px rgb(100, 100, 100);
        }
        .contenedor .hover:hover{
            background-color: #ebebeb;
            top: 10px;
            bottom: -10px;
        }
    }
    
    
    



