<!DOCTYPE html>
<html lang="en">
    <head class="head">
     <meta charset="UTF-8">
     <meta name="viewport" content="width = device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/login.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
     <script src="https://kit.fontawesome.com/888d1f7b84.js" crossorigin="anonymous"></script>
     
     <title> Mercado Liebre </title>

    </head>
    <body>
        <header>
         <section class="logo-busqueda">
     <div> <img src="/images/logo-mercado-liebre.svg" alt="logo de la empresa", class="logo-img"> </div>
    
        <nav class="busqueda"><div>
         <input type="text", placeholder="buscar...">
         <i class="fa-solid fa-magnifying-glass"></i>
        </div></nav>
        <p class="section1"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en Cuotas y Sin Tarjeta de Crédito</p>
        </section>
        <p class="section1b"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en Cuotas y Sin Tarjeta de Crédito</p>

     <section class="cajaheader">
     
     <ul class="section2">
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
     </ul>
    
    
    
     <ul class="section3">
        <li><a href="#">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
        <li><a href="#">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
        <li><a href="#">Mis Compras</a><i class="fa-solid fa-basket-shopping"></i></li>
     </ul>
    
    </section>

 <div class="burguer-menu"><i class="fa-solid fa-bars"></i></div>
    </header>
    <div><img src="/images/img-home-banner.jpg" alt="banner"></div>
    
    
    
    
    <main>
        <form action="/login" method="post" class="form">
            <section class="cajaregistro">
                <p class="h3">Ingresá</p>
                <div class="line"></div>
           
         
            <input class="inputregistro" type="text" name="Nombredeusuari@" id="Nombredeusuari@" placeholder="Nombre de usuari@">
            </input>
            
            <input class="inputregistro" type="password" name="Contraseña" id="Contraseña" placeholder="Contraseña">
            </input>
            <a href="/home"><button type="submit">INGRESAR</button></a>
           
             </section>
             
            

        </form>
        

</main>
<footer>
    <section class="ali-footer">
    <section class="tarjeta">
        <i class="fa-regular fa-credit-card fa-xl", id="card"></i>
        <h3><strong>Pagá con tarjeta o en efectivo</strong></h3>
        <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>

    </section>

    <section class="envio">
        <i class="fa-solid fa-gift fa-xl", id="gift"></i>
        <h3><strong>Envío gratis desde $ 2.500</strong></h3>
        <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>

    </section> 
    <section class="seguridad">
        <i class="fa-solid fa-user-shield fa-xl", id="seguridad"></i>
        <h3><strong>Seguridad, de principio a fin</strong></h3>
        <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>

    </section>
    </section>
    

       <p class="copyright"><!-- Copyright © --> &copy; 1999-2020 MercadoLiebre S.R.L.</p>
    
</footer>
</body>
</html>