<!DOCTYPE html>
<html lang="en">
    <head class="head">
     <meta charset="UTF-8">
     <meta name="viewport" content="width = device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/registro.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
     <script src="https://kit.fontawesome.com/888d1f7b84.js" crossorigin="anonymous"></script>
     
     <title> Registrate </title>

    </head>
    <body>
        <header>
         <section class="logo-busqueda">
     <div> <img src="/images/logo-mercado-liebre.svg" alt="logo de la empresa", class="logo-img"> </div>
    
        <nav class="busqueda"><div>
         <input type="text", placeholder="buscar..."></input>
         <i class="fa-solid fa-magnifying-glass"></i>
        </div></nav>
        <p class="section1"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en Cuotas y Sin Tarjeta de Crédito</p>
        </section>
        <p class="section1b"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en Cuotas y Sin Tarjeta de Crédito</p>

     <section class="cajaheader">
     
     <ul class="section2">
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
     </ul>
    
    
    
     <ul class="section3">
        <li><a href="#">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
        <li><a href="#">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
        <li><a href="#">Mis Compras</a><i class="fa-solid fa-basket-shopping"></i></li>
     </ul>
    
    </section>

 <div class="burguer-menu"><i class="fa-solid fa-bars"></i></div>
    </header>
    <div><img src="/images/img-home-banner.jpg" alt="banner"></div>
    
    
    
    
    <main>
        
        <form action="/registro" method="post" class="form" name="registro">
            <section class="cajaregistro">
                <p class="h3">Creá tu cuenta <i class="fa-regular fa-id-card"></i></p>
                <div class="line"></div>
            
            
            <input class="inputregistro" type="text" name="registro" id="nombreyapellido" placeholder="Nombre y apellido" required>
            </input>
            
            
            
            <input class="inputregistro" type="text" name="registro" id="Nombredeusuari@" placeholder="Nombre de usuari@" required>
            </input>-
            
            
            <input class="inputregistro" type="Email" name="registro" id="Email" placeholder="Email" required>
            </input>
           
           
            <input class="inputregistro" type="text" name="registro" id="date" placeholder="Fecha de nacimiento" required>
            </input>
           
            
            <input class="inputregistro" type="text" name="registro" id="Domicilio" placeholder="Domicilio" required>
            </input>
            
            <section class="seleccionperfil" name="registro">
            <input type="radio" name="PerfilDelUsuario" value="comprador">comprador</input>
            <input type="radio" name="PerfilDelUsuario" value="vendedor">vendedor</input>
            
            
             
            <label name="registro" class="categorias">Categorías de interés:
            
             <input type="checkbox" name="CategoriasInteres" value="Electro">Electro</input>
             <input type="checkbox" name="CategoriasInteres" value="Moda">Moda</input>
             <input type="checkbox" name="CategoriasInteres" value="Hogar">Hogar</input>
             <input type="checkbox" name="CategoriasInteres" value="Juguetería">Juguetería</input>
             <input type="checkbox" name="CategoriasInteres" value="Vida sana">Vida sana</input>
             </label>
            
            
            <label>Foto de usuario:</label>
            <input type="file" name="registro" accept=".jpg" placeholder="Foto de usuario">
            </input>
           </section>
           
           
            <input class="inputregistro" type="password" name="registro" id="Contraseña" placeholder="Contraseña" required>
            </input>
           
            
            <input class="inputregistro" type="password" name="registro" id="Confirmar Contraseña" placeholder="Confirma Contraseña" required>
            </input>
            
            <section class="botones" >
            
            <a href="home.html"><button type="submit">ENVIAR</button></a>
            
            <button type="reset">BORRAR</button>
            
            </section>
         </section>

            
 
        </form>
        

    </main>
<footer>
    <section class="ali-footer">
    <section class="tarjeta">
        <i class="fa-regular fa-credit-card fa-xl", id="card"></i>
        <h3><strong>Pagá con tarjeta o en efectivo</strong></h3>
        <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>

    </section>

    <section class="envio">
        <i class="fa-solid fa-gift fa-xl", id="gift"></i>
        <h3><strong>Envío gratis desde $ 2.500</strong></h3>
        <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>

    </section> 
    <section class="seguridad">
        <i class="fa-solid fa-user-shield fa-xl", id="seguridad"></i>
        <h3><strong>Seguridad, de principio a fin</strong></h3>
        <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>

    </section>
    </section>
    

       <p class="copyright"><!-- Copyright © --> &copy; 1999-2020 MercadoLiebre S.R.L.</p>
    
</footer>
</body>
</html>